<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KrediMatik_v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA882E601F2A07720070E296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA882E741F2A07720070E296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA882E7F1F2A07720070E296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
