<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EFInternetIndicator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GTMSessionFetcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GoogleToolboxForMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-KrediMatik_v2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-KrediMatik_v2Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-KrediMatik_v2UITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Protobuf.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ReachabilitySwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftMessages-SwiftMessages.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftMessages.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>538DD65FF8584046EA9062E92EFA43FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5CEDECD3D8DC52EA507E0431BDA8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D86BB7ADB10E2856A42147324C22010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D06C57ACF1C8DB01964C77EFDA77FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4AD6216FAB815AEF07D78460DE5822B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3EBFB811E5437D7D544BC9E4D158866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052BEBFBD0AB5218CC64BA3450F6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1E1A0C4F2633CBA559C0ACF65E27527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7A28557B9A3A5DFAAE40E321BE92509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB50FABD8B57F413AB24A0EE3C76234B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
